.skill{
    margin: 10px;
    width: 100px;
}

.skillImg{
    width: 70px;
}

.skillTitle{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
}

.skillYears{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    font-style: italic;
}