.skills-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 100px);
    background-color: aliceblue;
    width: 100%;
}