.background{
    background-color: darkcyan;
    padding: 2em;
    margin-top: 50px;
}

.header{
    color: lightyellow;
    font-family: Roboto;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    margin-bottom: 100px;
}

.headshot{
    width: 300px;
    margin: 20px;
    display: inline-block;
}

.about{
    font-family: "Roboto Condensed";
    font-size: 1.4em;
    color: white;
    display: inline-block;
}

.skills{
    margin: 60px;
}