@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.App {
    text-align: center;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.projectsTitle{
    font-size: 4.5em;
    color: darkcyan;
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 100px;
}
