.container {
    border: 5px solid darkcyan;
    border-radius: 10px;
    padding: 20px;
    width: 340px;
    display: inline-block;
    margin: 20px;
    box-shadow: 5px 5px 5px gray;
    height: 350px;
    background-color: mintcream;
    vertical-align: top;
;
}

.title {
    color: darkcyan;
    font-size: 2em;
    font-family: "Roboto Condensed";
}

.language {
    font-size: 1.4em;
    font-family: "Roboto Light";
    font-style: italic;
    margin-top: -1em
}

.description {
    font-family: "Roboto Condensed";
    font-size: 1.2em;
}