.nav-item{
    display: inline-block;
    font-family: "Roboto Condensed";
    font-weight: 500;
    font-size: 1.4em;
    font-style: normal;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}